@model IEnumerable<SportAsso.creneau>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.heure_debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.heure_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jour_de_la_semaine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seance.seance_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.heure_debut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.heure_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jour_de_la_semaine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seance.seance_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.creneau_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.creneau_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.creneau_id })
        </td>
    </tr>
}

</table>
