@{
    ViewBag.Title = "Accueil";
}

@model IEnumerable<SportAsso.discipline>

<div class="flexRow">
    <div class="nav navbar-left collection w20">
        <!--<a href="#" class="collection-item active">Liste des Disciplines</a>-->
        @Html.ActionLink("Liste des Disciplines", "Index", new { id = 0 }, new { @class = "collection-item active" })
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.label, "Index" , new { id = item.discipline_id }, new {@class = "collection-item" })
        }
    </div>
    <div class="panel panel-body pad5 w80">
        <div class="panel-heading">@ViewData["titreSection"]</div>
        <div class="panel-body">
            @ViewData["descriptionSection"]
                <hr />
                <table class="table">
                    <tr>
                        <th>
                            <bold>Section</bold>
                        </th>
                        <th>
                            <bold>Description</bold>
                        </th>
                        <th>
                            <bold>Prix</bold>
                        </th>
                        <th>
                            <bold>Responsable</bold>
                        </th>
                        <th>
                            <bold>Inscription</bold>
                        </th>
                    </tr>

                    @foreach (var item in @ViewBag.list)
                {
                        <tr>
                            <td>
                                @item.label
                            </td>
                            <td>
                                @item.description
                            </td>
                            <td>
                                @item.prix
                            </td>
                            <td>
                                @SportAsso.Controllers.sectionsController.FindUserFullNameById(item.responsable_id)
                            </td>
                            <td>
                                @Html.ActionLink("S'inscrire", "Inscription", "participes", new { id = item.section_id }, new { @class = "btn btn - default" })
                            </td>
                        </tr>
                    }
                </table>         
        </div>
    </div>
</div>
