@{
    ViewBag.Title = "Accueil";
}

@model IEnumerable<SportAsso.discipline>

<div class="flexRow">
    <div class="nav navbar-left collection w20">
        <!--<a href="#" class="collection-item active">Liste des Disciplines</a>-->
        @Html.ActionLink("Liste des Disciplines", "Index", new { id = 0 }, new { @class = "collection-item active" })
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.label, "Index" , new { id = item.discipline_id }, new {@class = "collection-item" })
        }
    </div>
    <div class="panel panel-body pad5 w80">
        <div class="panel-heading">@ViewData["titreSection"]</div>
     
        
        <div class="panel-body">
            @ViewData["descriptionSection"]
            <hr />
            @foreach (var item in SportAsso.Controllers.HomeController.list)
            {
                <table class="table">
                    <tr>
                        <td>
                            @item.label
                        </td>
                        <td>
                            @item.description
                        </td>
                        <td>
                            @item.prix
                        </td>
                        <td>
                            @item.discipline.label
                        </td>
                        <td>
                            @SportAsso.Controllers.sectionsController.FindUserFullNameById(item.responsable_id)
                        </td>
                     </tr>
                </table>
                }
</div>


    </div>
</div>
