@model IEnumerable<SportAsso.discipline>

@{
    ViewBag.Title = "Index";
}

<h3 class="center">Liste des disciplines</h3>

<p>
    @Html.ActionLink("Ajouter une disciplines", "Create", "disciplines", null, new { @class = "btn btn - default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
           <bold> Nom Responsable</bold>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @SportAsso.Controllers.disciplinesController.GetUserFullNameByLogin(item.utilisateur.login)
        </td>
        <td>
            @Html.ActionLink("Voir les sections", "Index", "sections", new { id = item.discipline_id }, new { @class = "btn btn - default" })
            <br />
            <br />
            @Html.ActionLink("Modifier la discipline", "Edit", "disciplines", new { id = item.discipline_id }, new { @class = "btn btn - default" }) 
            <br/>
            <br/>
            @Html.ActionLink("Supprimer la discipline", "Delete", "disciplines", new { id = item.discipline_id }, new { @class = "btn btn - default" })
        </td>
    </tr>
}

</table>
