@model SportAsso.section

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>section</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discipline.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discipline.label)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.section_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
