@model IEnumerable<SportAsso.section>

<h4 class="center">@ViewData["title"]</h4>

<p>
    @Html.ActionLink("Ajouter une section", "Create", "sections", null, new { @class = "btn btn - default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discipline.label)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discipline.label)
        </td>
        <td>
            @Html.ActionLink("Modifier la section", "Edit", "sections", new { id = item.section_id }, new { @class = "btn btn - default" })
            <br/>
            <br/>  
            @Html.ActionLink("Supprimer la section", "Delete", "sections", new { id = item.section_id }, new { @class = "btn btn - default" })
        </td>
    </tr>
}

</table>
