@model SportAsso.seance

@{
    ViewBag.Title = "Delete";
}

<h3 class="center">Supprimer la séance</h3>

<h5>Êtes vous sur de vouloir supprimer la séance suivante ?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.section.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section.label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jour_de_la_semaine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jour_de_la_semaine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.heure_debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heure_debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.heure_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heure_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieu.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieu.label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.places_max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.places_max)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> | @Html.ActionLink("Annuler", "Redirect", "seances", null, new { @class = "btn btn - default" })
        </div>
    }
</div>
