@model IEnumerable<SportAsso.seance>

@{
    ViewBag.Title = "Index";
}

<h4 class="center">@ViewBag.titre_page</h4>

@if (ViewBag.ajoutLier == "false")
{
    <p>
        @Html.ActionLink("Ajouter une séance", "Create", "seances", null, new { @class = "btn btn - default" })
    </p>
}
else
{
    <p>
        @Html.ActionLink("Ajouter une séance", "Create", "seances", new { id = ViewBag.section_id }, new { @class = "btn btn - default" })
    </p>
}

<table class="table">
    <tr>
        <th>
            <bold> Séance</bold>
        </th>
        <th>
            <bold> Jour de la semaine</bold>
        </th>
        <th>
            <bold> Heure de début </bold>
        </th>
        <th>
            <bold> Heure de fin </bold>
        </th>
        <th>
            <bold> Lieu </bold>
        </th>
        <th>
            <bold> Places disponnibles </bold>
        </th>
        <th>
            <bold> Encadrant </bold>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @SportAsso.Controllers.sectionsController.FindFullTitleById(item.section_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jour_de_la_semaine)
        </td>
        <td>
            @SportAsso.Controllers.participesController.HourFormator("" + item.heure_debut)
        </td>
        <td>
            @SportAsso.Controllers.participesController.HourFormator("" + item.heure_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lieu.label)
        </td>
        <td>
            @SportAsso.Controllers.seancesController.GetStringNumberOfParticipantByID(item.seance_id) /  @Html.DisplayFor(modelItem => item.places_max)
        </td>
        <td>
            @SportAsso.Controllers.disciplinesController.GetUserFullNameByLogin(item.utilisateur.login)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", "seances", new { id = item.seance_id }, new { @class = "btn btn - default" }) 
            <br/>
            <br/>
            @Html.ActionLink("Supprimer", "Delete", "seances", new { id = item.seance_id }, new { @class = "btn btn - default" })
        </td>
    </tr>
}

</table>
