@{
    ViewBag.Title = "Calendrier";
}

@model IEnumerable<SportAsso.discipline>

<div class="flexRow">
    <div class="nav navbar-left collection w20">
        <!--<a href="#" class="collection-item active">Liste des Disciplines</a>-->
        @Html.ActionLink("Liste des Disciplines", "Index", new { id = 0 }, new { @class = "collection-item active" })
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.label, "Calendrier", new { id = item.discipline_id }, new { @class = "collection-item" })
        }
    </div>
    <div class="panel panel-body pad5 w80">
    <h3 class="center"> Calendrier des séances de sports </h3>
    @if (ViewBag.accueil == true)
    {
        <br />
            <p class="center">Cliquez sur une discipline pour afficher le calendrier de la discipline</p>
    }
    else
    {
        <table class="table">
            <tr>
                @foreach (var j in ViewBag.jours)
                {
                    <th class="ta-center">
                        <bold>@j</bold>
                    </th>
                }
            </tr>
            <tr>
                @foreach (var jour in ViewBag.jours)
                {
                    foreach (var s in ViewBag.listSeance)
                    {
                        if (ViewBag.id == s.section.discipline_id && s.jour_de_la_semaine == jour)
                        {

                            <td class="ta-center">
                                <bold>@SportAsso.Controllers.sectionsController.FindFullTitleById(s.section_id)</bold>
                                <br />
                                de @SportAsso.Controllers.participesController.HourFormator("" + s.heure_debut) à @SportAsso.Controllers.participesController.HourFormator("" + s.heure_fin)
                                <br />
                                au @s.lieu.label
                                <br />
                                encadré par @SportAsso.Controllers.disciplinesController.GetUserFullNameByLogin(s.utilisateur.login)
                                @if (!SportAsso.Controllers.participesController.isInscrit(s.seance_id, User.Identity.Name))
                                {
                                    if (!SportAsso.Controllers.seancesController.IsComplet(s.seance_id))
                                    {
                                        <br />
                                        @Html.ActionLink("S'inscrire", "Inscription", "participes", new { id = s.seance_id }, new { @class = "btn btn - default" })
                                    }
                                    else
                                    {
                                        <br/>
                                        <p>Complet</p>
                                    }
                                }
                                else
                                {
                                    <br/>
                                    @Html.ActionLink("Se Désinscrire", "Desinscription", "participes", new { id = s.seance_id }, new { @class = "btn btn-red" })
                                
                                }
                           <br>
                        </td>

                        }
                    }

                }
                </tr>

            </table>
    }
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
