@model SportAsso.participe

@{
    ViewBag.Title = "Delete";
}

<h3 class="center">@ViewData["titre"]</h3>

<h5 class="center">@ViewData["texte"]</h5>
<div>
    <hr />
   @* <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.a_payer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_payer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seance.seance_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seance.seance_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.utilisateur.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.utilisateur.login)
        </dd>

    </dl>*@

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Se désinscrire" class="btn btn-default" /> | @Html.ActionLink("Annuler", "Index", "Home", null, new { @class = "btn btn - default" })
        </div>
    }
</div>
