@model SportAsso.participe

@{
    ViewBag.Title = "Desinscription";
}

<h3 class="center">@ViewData["titre"]</h3>

<h5 class="center">@ViewData["texte"]</h5>

@using (Html.BeginForm())
{
<div>
 
    <dl>

        <dd>
            @Html.HiddenFor(model => model.a_payer)
        </dd>

   
        <dd>
            @Html.HiddenFor(model => model.seance.jour_de_la_semaine)
        </dd>

        <dd>
            @Html.HiddenFor(model => model.utilisateur.login)
        </dd>

    </dl>

        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Se Désinscrire" class="btn btn-red" /> | @Html.ActionLink("Annuler", "Index", "Home", null, new { @class = "btn btn - default" })
            
        </div>
    
</div>
}