@model SportAsso.participe

@{
    ViewBag.Title = "Desinscription";
}

<h3>@ViewData["titre"]</h3>

<h3>@ViewData["texte"]</h3>
<div>
 
    <dl>

        <dd>
            @Html.HiddenFor(model => model.a_payer)
        </dd>

   
        <dd>
            @Html.HiddenFor(model => model.seance.jour_de_la_semaine)
        </dd>

        <dd>
            @Html.HiddenFor(model => model.utilisateur.login)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Se Désinscrire" class="btn btn-red" /> | @Html.ActionLink("Annuler", "Index", "Home", null, new { @class = "btn btn - default" })
            
        </div>
    }
</div>
