@model IEnumerable<SportAsso.participe>

@{
    ViewBag.Title = "MesInscritions";
}

<h2>MesInscritions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.a_payer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seance.seance_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.utilisateur.login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.a_payer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seance.seance_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.utilisateur.login)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
