@model IEnumerable<SportAsso.participe>

@{
    ViewBag.Title = "MesInscritions";
}

<h3 class="center">Mes Inscritions</h3>

<table class="table">
    <tr>
        <th>
            <bold> Mes séances </bold>
        </th>
        <th>Paiment</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @SportAsso.Controllers.participesController.GetSeancesInfo(item.seance_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a_payer)
            @SportAsso.Controllers.participesController.StatutPaiment(item.a_payer)
        </td>
        <td>
            @Html.ActionLink("Voir sur le calendrier", "Calendrier", "participes", null, new { @class = "btn btn - default" })
            <br />
            <br />
             @Html.ActionLink("Se Désinscrire", "Desinscription", "participes", new { id = item.seance_id }, new { @class = "btn btn-red" })
        </td>
    </tr>
}

</table>
